
	
	


.navbar{
	text-transform: uppercase;
	font-color: white;
	background-color: rgba(0, 0, 0, .6)!important ;
	
	
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}